@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    user-select: none;
    font-family: 'Roboto Mono';
    color: #e2b714;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: rgb(73, 73, 73);
}

h1 {
    width: 40%;
    font-size: 50px;
}

#text-div, .word-div {
    display: flex;
    justify-content: center;
}

#text-div {
    letter-spacing: 1px;
    font-size: 30px;
    word-spacing: 10px;
    justify-content: left;
    flex-wrap: wrap;
    line-height: 50px;
}

.char-div {
    color: rgba(220, 220, 220, 0.477);
}

#holder-div {
    padding: 10px;
    margin-top: 10vh;
    height: 150px;
    overflow: scroll;
    padding: 50px;
}

#acc, #wpm {
    font-size: 60px;
}


#outer-div {
    display: flex;
    justify-content: center;
}

#results-div {
    margin-top: 10vh;
    display: flex;
    width: 80vw;
    /* background-color: rgba(255, 0, 0, 0.259); */
}

#main-stats {
    display: flex;
    flex-wrap: wrap;

    margin: 10px;
    margin-right: 50px;
    width: 20vw;
    /* background-color: rgba(0, 128, 0, 0.492); */
}

#chart {
    width: 40vw;
    height: 100px;
}

#chart-div {
    width: 80vw;

    margin: 10px;
    padding: 5px;
    /* background-color: rgba(0, 0, 255, 0.478); */
}

div > #main-stats {
    width: 6vw;
    padding: 5px;
}

.small {
    font-size: 25px;
    color: rgba(220, 220, 220, 0.477);
}

.correct {
    color: #d1d0c5;
}

.incorrect {
    color: #ca4754;
}

.extra {
    color: #7e2a33;
}